#home{
    height:100%;
    width:100%;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home_center{
    height:96%;
    width:96%;
    border:2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home_link{
    height:40%;
    width:40%;
    border: 2px solid green;
    text-align: center;
    margin-inline: 2%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.homeButton{
    border:2xp solid red;
    background-color:cornflowerblue;
    color:azure;
    width:60%;
    height:60%;
    padding:10%;
    border-radius:15px
}
.homeButton:hover{
    background-color:rgb(77, 135, 243);
    box-shadow: 5px 5px 2px rgb(122, 122, 122);
    transition: all 0.2s ease-in-out;

    
}
.close_btn{
    border:2xp solid green;
    position:absolute;
    top:12%;
    right:17%;
    font-size:2.5rem;
}